{% load static %}
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faten Boughzala - CV</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/cv_ca_style.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
</head>
    <body>
        
        
        <div class="cv-container">
        {% include 'button.html' %}
        <header>
            <h1>Faten Boughzala</h1>
            <div class="contact-info">
                <p><i class="fas fa-envelope icon"></i>Email: faten05boughzala@gmail.com</p>
                <p><i class="fas fa-phone-alt icon"></i>Phone: +216 20289540 / 216 21008213</p>
                <p><i class="fab fa-linkedin icon"></i>Linkedin in: <a href="https://www.linkedin.com/in/faten-boughzala-3b7ab726b/" target="_blank">https://www.linkedin.com/in/faten-boughzala-3b7ab726b/</a></p>
                <p><i class="fab fa-github icon"></i>Github: <a href="https://github.com/fatenboughzala05" target="_blank">https://github.com/fatenboughzala05</a></p>
                <p><i class="fas fa-globe icon"></i>Portfolio: <a href="https://my-portfolio--project.vercel.app" target="_blank">https://my-portfolio--project.vercel.app</a></p>
            </div>
        </header>

        <section class="summary">
            <h2>PROFESSIONAL SUMMARY</h2>
            <p>Junior Full-Stack Developer with strong expertise in React.js, Node.js, and MongoDB, experienced in developing dynamic web and mobile applications. Committed to staying up-to-date with current trends and delivering scalable digital solutions. Adept at problem-solving and working in collaborative Agile environments.</p>
        </section>

        <section class="technical-skills">
            <h2>TECHNICAL SKILLS</h2>
            <ul class="skills-list">
                {% for cat in skill_categories_translated %}
                    <li><strong>{{ cat.title }}:</strong> {% for skill in cat.skills %}{{ skill.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                {% endfor %}
                
            </ul>
        </section>

        <section class="professional-experience">
            <h2>PROFESSIONAL EXPERIENCE</h2>
            {% for exp in experiences %}
                <div class="experience-item">
                    <h3 class="job-title">{{ exp.job_title }} <span class="date">{{ exp.date_range }}{% if exp.second_date_range %} &amp; {{ exp.second_date_range }}{% endif %}</span></h3>
                    <p class="company"><strong>{{ exp.company }}</strong> </p>
                       {% for desc in exp.descriptions.all %}
                           <p>{{ desc.description|linebreaks }}</p>
                        {% endfor %}
                   
                </div>
            {% endfor %}
 
        </section>

        <section class="education">
            <h2>EDUCATION</h2>
            {% for edu in educations %}
                <div class="education-item">
                    <h3 class="degree">{{edu.degree_name}} <span class="date">{{ edu.year }}</span></h3>
                    <p class="institution">{{edu.institution}}</p>
                </div>
            {% endfor %}    

        </section>

        <section class="certifications">
            <h2>CERTIFICATIONS</h2>
            <ul>
                 {% for cert in certificates %}
                    <li>
                        {% if cert.url %}
                            <a id="Link" href="{{ cert.url }}" target="_blank">{{ cert.name }}</a> : {{ cert.issuer }}
                        {% else %}
                            {{ cert.name }} : {{ cert.issuer }}
                        {% endif %}
                    </li>
                {% endfor %}
                    
               
            </ul>
        </section>

        <section class="languages-and-interests">
            <h2>LANGUAGES</h2>
            <p>
              {% for lang in languages %}
                    <strong>{{ lang.language_name }}</strong>  ({{ lang.level }}) {% if not forloop.last %} | {% endif %}
                      {% endfor %}
            </p>        
           
        </section>
    </div>
     <script src="{% static 'js/script.js' %}"></script>
</body>
</html>