{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faten Boughzala - CV</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/cv_fr_style.css' %}?v=1">
      <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
   
</head>
<body>
       <select class="language_buttons" onchange="if(this.value) window.location.href=this.value">
    <option value="{% url 'cv_view' 'tn' %}" >Tunisian</option>
    <option value="{% url 'cv_view' 'en' %}">English</option>
    <option value="{% url 'cv_view' 'fr' %}"selected>French</option>
    <option value="{% url 'cv_view' 'ca' %}">Canadian English</option>
    <option value="{% url 'cv_view' 'ar' %}">Arabic</option>
    <option value="{% url 'cv_view' 'es' %}">Spanish</option>
</select>
    <div id="action-buttons">
        <button onclick="printCV()">Print</button>
        <button onclick="downloadCV()">Download PDF</button>
    </div>
    <div class="cv-container">

        <header>
            <h1>FATEN BOUGHZALA</h1>
            <div class="contact-info">
             <span>                       
                        <i class="fa-solid fa-envelope" title="Email"></i>
                        <p><a id="Link" href="mailto:faten05boughzala@gmail.com">faten05boughzala@gmail.com</a></p>
                    </span>
                    <span>                        
                        <i class="fa-solid fa-phone" title="Phone"></i>
                       <p><a id="Link" href="tel:+21620289540">20 289 540 </a> / <a id="Link" href="tel:+21621008244">21 008 244</a></p>
                    </span>
                    <span>
                        <i class="fa-solid fa-house" title="Home"></i>
                      <p>Adresse: Rue Ramallah -Sousse</p>
                    </span>
                    <br>
                    <span>
                        <i class="fa-brands fa-linkedin" title="LinkedIn"></i>
                        <p> <a href="https://www.linkedin.com/in/faten-boughzala-307ab7269/">Faten Boughzala </a></p>
                    </span>
                    <span>
                    <i class="fa-brands fa-github" title="GitHub"></i>
                    <p><a href="https://github.com/FatenBoughzala05"> FatenBoughzala05</a></p>
                    </span>
                    <span>
                        <p>Portfolio: <a id="Link" href="https://portfolio-nu-taupe-t9jzg4v78j.vercel.app">https://portfolio-nu-taupe-t9jzg4v78j.vercel.app</a></p>
                    </span>
            </div>
        </header>

        <section class="profile">
            <h2>PROFIL PROFESSIONNEL</h2>
            <p>Développeuse Web et Mobile innovante et organisée, forte d'une expertise technique solide. Passionnée par la création de solutions numériques élégantes et la résolution de problèmes complexes.</p>
        </section>

        <section class="experience">
            <h2>EXPÉRIENCE PROFESSIONNELLE</h2>
            {% for exp in experiences %}
            <div class="experience-item">
                    <h3> {{ exp.job_title }}<span class="date">{{ exp.date_range }}{% if exp.second_date_range %} &amp; {{ exp.second_date_range }}{% endif %}</span></h3>
                    <p><strong>{{exp.company}}</strong> </p>
                    <ul>
                    {% for desc in exp.descriptions.all %}
                        <li>{{ desc.description|linebreaks }}</li>
                        {% endfor %}
                    </ul>
                </div>
                    {% endfor %}
           
        </section>

        <section class="education">
            <h2>PARCOURS ACADÉMIQUE</h2>
             {% for edu in educations %}
               <div class="education-item">
                    <h3> {{ edu.degree_name }}<span class="date">{{ edu.year }}</span></h3>
                    <p>{{ edu.institution }}</p>
                </div>
            {% endfor %}   
            
        </section>

        <section class="skills">
            <h2>COMPÉTENCES TECHNIQUE</h2>
            <ul>
                    <div class="skills-grid">
                     {% for cat in skill_categories_translated %}
                        <li>{{ cat.title }}: {% for skill in cat.skills %}{{ skill.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                    {% endfor %}
                    
                </div>
                </ul>
        </section>

        <section class="languages-and-competences">
            <div class="languages-section">
                <h2>LANGUES</h2>
                <div class="language-grid">
                     {% for lang in languages %}
                            <div class="language-item">
                                <strong>{{ lang.language_name }}:</strong> {{ lang.level }}
                            </div>
                        {% endfor %}
                    
                </div>
            </div>
            <div class="competences-section">
                <h2>COMPÉTENCES</h2>
                <div class="competence-grid">
                    <div class="competence-item">Autonomie</div>
                    <div class="competence-item">Capacité d'adaptation</div>
                    <div class="competence-item">Esprit d'équipe</div>
                    <div class="competence-item">Sens de la diplomatie</div>
                    <div class="competence-item">Résolution de problèmes</div>
                </div>
            </div>
            <div class="hobbies-section">
                <h2>CENTRES D'INTÉRÊT</h2>
                <ul>
                    <li>Lecture</li>
                    <li>Musique</li>
                    <li>Cinéma</li>
                </ul>
            </div>
        </section>

        <section class="certifications">
            <h2>CERTIFICATS</h2>
            <ul>
                {% for cert in certificates %}
                    <li>
                        {% if cert.url %}
                            <a id="Link" href="{{ cert.url }}" target="_blank">{{ cert.name }}</a> : {{ cert.issuer }}
                        {% else %}
                            {{ cert.name }} : {{ cert.issuer }}
                        {% endif %}
                    </li>
                {% endfor %}
                
            </ul>
        </section>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>